body{
    background-color: #fff;
    height: 100%;
}
.update-title{
    float: left;
    width: 100%;
    font-size: large;
    font-weight: bolder;
    margin: 30px 0 0 50px;
}
.medium{
    float: left;
    width: 100%;
    margin-top: 5%;
}
.medium-left{
    float: left;
    width: 20%;
    margin-left: 10%;
}
.left-top{
    margin-bottom: 10px;
}
.left-medium{}
.left-bottom{}
.left-button{
    margin-top: 10px;
}
.left-bottom-item{
    margin: 10px 0 5px 0;
}
.medium-right{
    float: left;
    margin-left: 5%;
}

.right-top{
    margin-bottom: 10px;
}
.right-medium{

}
.right-bottom{

}
.right-bottom-item{
    margin: 10px 0 5px 0;
}

.bottom{
    float: left;
    width: 100%;
    margin-top: 10%;
}
.bottom-btn{
    width: 200px;
    margin-right: 5%;
}