body, html {
    background-color: #fff;
    height: 100%;
}

.child-content {
    height: 100%;
    padding-right: 1%;
}

.search-content {
    width: 100%;
    height: 18%;
}

.search-bar {
    width: 100%;
    height: 50%;
}

.search-from {
    float: left;
    /*width: 50%;*/
    padding-left: 8%;

}

.search-from span {
    padding-right: 15px;
}

.search-submit {
    height: 50%;
    padding-top: 2%;
}

.search-submit button {
    width: 10%;
    float: right;
    margin-right: 1.5%;
}

.tab-pane {
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 6%;
}

#distributor-table thead {
    background-color: rgb(250, 250, 250);
}

#distributor-table a {
    color: rgb(67, 118, 247);
}

#distributor-table a.disable {
    color: rgb(229, 28, 35);
}
