.index-body{

}
.index-content{
    width: 100%;
    height: 100%;
    padding: 2%;
}
.wait-event{
    background: #fff;
    width: 40%;
    height: 45%;
    float: left;
    margin-right: 2%;
    border-radius: 2px;
    box-shadow:0 0 20px #bbbbbb ;
}
.event-head{
    width: 100%;
    height: 8%;
    padding: 2%;
}
.event-head-img{
    color: #2aabd2;
}
.event-title{
    font-size: 18px;
    font-weight: bold;
    margin-left: 2%;
}
.event-content{
    width: 100%;
    padding: 0 3%;
    height: 70%;
    background: #fff;
    overflow-y: auto;
}
.event-ul{
    list-style: none;
    height: 100%;
}
.event-li{
    height: 1.5%;
}
.event-li-span{
    margin-right: 3%;
}
.event-badge{
    float: right;
    color: red;
    background: #ebccd1;
}
.data-publish{
    background: #fff;
    width: 58%;
    height: 45%;
    float: left;
    border-radius: 2px;
    box-shadow:0 0 20px #bbbbbb ;
}
.data-head{
    width: 100%;
    height: 8%;
    padding: 2%;
}
.data-head-img{
    color: #4cae4c;
}
.data-title{
    font-size: 18px;
    font-weight: bold;
    margin-left: 2%;
}
.data-more{
    float: right;
    color: #1d7db1;
}
.data-content{
    padding: 0 2%;
    height: 65%;
    overflow-y: auto;
}
.data-table{
    border: 0px solid transparent;
}
.spare-query{
    background: #fff;
    width: 55%;
    height: 45%;
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 2px;
    box-shadow:0 0 20px #bbbbbb ;
}
.spare-head{
    width: 100%;
    height: 8%;
    padding: 2%;
}
.spare-head-img{
    color: #7a43b6;
}
.spare-title{
    font-size: 18px;
    font-weight: bold;
    margin-left: 2%;
}
.spare-search{
    float: right;
    width: 35%;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
}
.search-input{
    width: 83%;
    height: 95%;
    float: left;
    border: 0px;
}
.search-btn{
    border: 0px;
    width: 17%;
    height: 100%;
    background: #fff;
    float: left;
    margin-top: 1%;
    border-left: 1px solid #bbbbbb;
}
.spare-content{
    width: 100%;
    height: 70%;
    overflow-y: auto;
    background: #fff;
}
.spare-img{
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0 3%;
}
.spare-li{
    float: left;
    width: 33%;
    height: 50%;
}
.spare-images{
    width: 80%;
    height: 75%;
}
.spare-span{
    height: 25%;
    margin-left: 20%;
}
.sbmo-excel{
    background: #fff;
    width: 43%;
    height: 45%;
    float: left;
    margin-top: 2%;
    border-radius: 2px;
    box-shadow:0 0 20px #bbbbbb ;
}
.sbmo-more{
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    color: #1d7db1;
}
.se-content{
    width: 100%;
    height: 85%;
}
.bom-sbom{
    height: 100%;
}
.bom-update{
    width: 48%;
    height: 100%;
    margin-right: 4%;
    border-radius: 3px;
    float: left;
    background: #EEEEEE;
    padding: 3%;
}
.bom-add{
    width: 48%;
    height: 100%;
    border-radius: 3px;
    float: left;
    background: #EEEEEE;
    padding: 3%;
}
.bom-img{
    margin-left:20% ;
    width: 60%;
    height: 60%;
}
.bom-img img{
    width: 100%;
    height: 100%;
}
.bom-num{
    width: 100%;
    /*height: 15%;*/
    float: left;
    font-size:2em;
    font-weight: bold;
    text-align: center;
}
.bom-text{
    float: left;
    width: 100%;
    height: 15%;
    font-size: 1em;
    text-align: center;
}