/**
* @Desc 仅存放项目头部样式
* @Date 2018-09-17 00:50:25
* @Author qitian
*/

.mody-header{
    height: 64px;
    background: #555558;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.mody-header h2{
    margin-left: 10px;
    color: #fff;
    width: 20%;
    float: left;
}
.pull-right{
    margin: 14px;
    line-height: 64px;
}